<?xml version="1.0"?>
<settings>
  <mirrors>
    <mirror>
      <id>mrm-maven-plugin</id>
      <name>Mock Repository Manager</name>
      <url>@repository.proxy.url@</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
    <proxies>
        <proxy>
            <id>http</id>
            <active>false</active>
            <protocol>http</protocol>
            <host>127.0.0.1</host>
            <port>3128</port>
            <nonProxyHosts></nonProxyHosts>
        </proxy>
        <proxy>
            <id>https</id>
            <active>false</active>
            <protocol>https</protocol>
            <host>127.0.0.1</host>
            <port>3128</port>
            <nonProxyHosts></nonProxyHosts>
        </proxy>
    </proxies>
    <profiles>
        <profile>
            <id>it-repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>local.central</id>
                    <url>@repository.proxy.url@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local.central</id>
                    <url>@repository.proxy.url@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>